@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 243 76% 95%;

    --background: 0 0% 0%;
    --foreground: 243 76% 95%;

    --card: 0 0% 23%;
    --card-foreground: 0 0% 100%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 0 0% 50%;
    --primary-foreground: 243 76% 95%;

    --secondary: 244 11% 24%;
    --secondary-foreground: 243 76% 95%;

    --muted: 217.2 32.6% 11%;
    --muted-foreground: 215 0% 80%;

    --accent: 240 27% 35%;
    --accent-foreground: 243 76% 95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 0% 17.5%;
    --input: 217.2 0% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
